body {
    background-color: #171738;
}

div.header {
    background-color: #8b2635;
    border-top: 0;
}

/*

Slate Grey: #667788
Medium Champagne: #FFF3B0
Antique Ruby: #8B2635
Space Cadet: #171738
Shimmering Blush: #D88C9A

*/